@charset "UTF-8";
:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --screen-sm: 768px;
  --gray: #555;
  --gray-dark: #333;
  --gray-darker: #111;
  --gray-light: #f1f1f1;
  --gray-lighter: #fafafa;
  --blue: #187888;
  --yellow: #e6af05;
  --white: #fff;
  --black: #000;
  --brand-primary: var(--blue);
  --background: var(--white);
  --background-header: var(--gray-light);
  --text-color: var(--gray-darker);
  --move-x: var(--space);
  --move-y: var(--space-sm);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  will-change: background-color;
}

body.theme-dark {
  --background: var(--black);
  --background-header: var(--gray-darker);
  --text-color: var(--gray-lighter);
  --brand-primary: var(--yellow);
}

@media (max-width: 768px) {
  body {
    --background: var(--black);
    --text-color: var(--white);
  }
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-header);
  border-bottom: solid var(--space-xxs) var(--brand-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--space-xlg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: var(--space);
  padding-right: var(--space);
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  will-change: background-color;
}

.logo {
  color: var(--brand-primary);
  font-size: 30px;
  font-weight: bold;
}

.logo__move {
  left: var(--move-x);
  position: fixed;
  top: var(--move-y);
}

.toggle-theme {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--gray);
  border-radius: var(--space);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--space);
  position: relative;
  width: 50px;
}

.toggle-theme:before, .toggle-theme:after {
  font-size: 18px;
}

.toggle-theme:before {
  content: "🌜";
}

.toggle-theme:after {
  content: "🌞";
}

.toggle-theme__track {
  background-color: var(--gray-lighter);
  border: var(--gray) solid 1px;
  border-radius: 50%;
  height: var(--space);
  position: absolute;
  text-indent: -999em;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  width: var(--space);
}

.toggle-theme__control {
  opacity: 0;
  position: absolute;
  top: -999em;
}

.toggle-theme__control:checked ~ .toggle-theme__track {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--screen-sm);
  padding: var(--space);
}

.content > h1 {
  font-size: 30px;
}

.content > h1:not(:last-child) {
  margin-bottom: var(--space);
}

.content > p:not(:last-child) {
  margin-bottom: var(--space);
}
/*# sourceMappingURL=styles.css.map */